<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/styles.css">
    <title>Profile page</title>
</head>
<body>
    <h1>Hello, {{name}}</h1>
    <h1>This is the profile page</h1>
    <h2>Only available for logged oin users</h2>
</body>
</html>